
@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/AuthorizedLayout.cshtml";
}

<p>
    Основной деятельностью «Мир олимпиад» является проведение дистанционных конкурсов и олимпиад для дошкольников, школьников, студентов и педагогов на территории России. Победители и призеры конкурсов получают сертификаты и дипломы в электронном виде, а учителя, задействованные в подготовке и проведении конкурсов - благодарственные письма.
    В конкурсах и олимпиадах могут принять участие педагоги, учителя, воспитатели, преподаватели ВУЗов, ССУЗов, руководители кружков и студий, учащиеся СОШ, воспитанники ДОУ, студенты ВУЗов, ССУЗов.
</p>
<p>
    Портал "Мир-Олимпиад" проводит Всероссийские мероприятия в соответствии с ч. 2 ст. 77 и п. 22 ст. 34 Федерального закона Российской Федерации "Об образовании в Российской Федерации" № 273-ФЗ от 29.12.2012 г. (в ред. от 03.07.2016) направленные на поддержку творческого потенциала педагогических работников и обучающихся.
</p>
<p>
    Категории конкурсов и олимпиад разработаны с учетом требований Федеральных государственных стандартов образования (ФГОС).
    Наши конкурсы и олимпиады актуальны, интересны – они повышают самооценку педагогов; помогают развитию мышления, интеллекта, полезных навыков учащихся и студентов; дают блестящую возможность пополнения Портфолио участников.
</p>


