
@using OlympiadUI.ViewModels
@model RestoreByEmail

@{ 
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/UnauthorizedLayout.cshtml";
}

@using (Html.BeginForm("RestoreByEmail", "Home", FormMethod.Post, new { @id = "emailRestoreForm" }))
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        <label>Email</label>
        @Html.EditorFor(x => x.Email, new { @htmlAttributes = new { @class = "form-control", @id = "email" } })
    </div>
    <input type="submit" id="sendEmail" class="btn btn-premier" value="Отправить">
    <div class="d-none text-danger" id="emailError">

    </div>
}

