<div class="d-flex" id="input-task">
    <div class="form-group">
        <label for="answer">Введите ответ:</label>
        <input type="text" name="user-input" class="form-control"/>
    </div>
</div>
    