@model IEnumerable<Olympiads.WEB.Models.TaskViewModel>


<div class="card">
    <div class="card-header">
        <h5>Задания</h5>
        <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left"></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
            </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Задание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Model.ElementAt(i).Number</td>
                            <td>@Model.ElementAt(i).ShortContent</td>
                            <td class="d-flex">
                                <i data-id=@Model.ElementAt(i).Number class="icofont icofont-edit btn btn-warning icofont-2x btn-edit text-center align-self-center m-1"></i>
                                <i data-id=@Model.ElementAt(i).Number class="icofont icofont-trash icofont-2x btn btn-danger btn-delete text-center align-self-center m-1"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




