@using Olympiads.WEB.Models
@model ParticipantProfileViewModel
<div class="profile-info col-auto justify-content-end">
    <div class="row align-items-center d-md-flex d-none">
        <i class="profile-info-icon fa fa-2x fa-user"></i>
        <div class="col">
            <span class="">@String.Join(" ", Model.Surname, Model.Name, Model.Lastname)</span>
            <br>
            <span>@Model.Email</span>
            <a href="@Url.Action("Logout","Account")">
                (Выход)
            </a>
        </div>
    </div>
    <a href="@Url.Action("Logout","Account")" class="d-sm-flex d-md-none">
        <i class=" fas fa-sign-out-alt"></i>
    </a>
</div>
