<div class="col-4 d-none d-md-flex flex-column">
    <h3 class="mb-4">Меню</h3>
    <ul class="nav flex-column nav-pills secondary-menu">
        <li class="nav-item secondary-menu-item">
            <a href="@Url.Action("Index","Tests")" class="nav-link">Тестирование</a>
        </li>
        <li class="nav-item secondary-menu-item">
            <a href="@Url.Action("Olympiads","Account")" class="nav-link">Олимпиады</a>
        </li>
        <li class="nav-item secondary-menu-item">
            <a href="@Url.Action("CheckCertificate","Account")" class="nav-link">Проверить сертификат</a>
        </li>
        <li class="nav-item secondary-menu-item">
            <a href="@Url.Action("About","Home")" class="nav-link">О нас</a>
        </li>
    </ul>
</div>
