
@{
    Layout = "~/Views/Shared/UnauthorizedLayout.cshtml";
}


<div class="d-flex">
    <span>Письмо для сброса пароля отправлено</span>
    <a class="btn btn-premier mx-auto" href="@Url.Action("Login","Home")">Войти </a>
</div>


