@{
    Layout = "~/Views/Shared/UnauthorizedLayout.cshtml";
}

<div class="d-flex">
    <div class="text-success">
        Пароль был успешно изменён,используйте новые данные для входа в систему
    </div>
    <a class="btn btn-premier" href="@Url.Action("Login","Home")">Войти</a>
</div>



