
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/UnauthorizedLayout.cshtml";
}


<div class="d-flex align-items-center">
    <span>Выберите способ</span>
    <select name="Restore" id="restorePasswordSelect" class="form-select m-2">
        <option value="0">По номеру телефона</option>
        <option value="1">По e-mail</option>
    </select>
</div>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input id="hiddenRestore" type="hidden" name="method" value="0" />
    <div class="d-flex">
        <input class="btn btn-premier mx-auto mt-1" type="submit" value="Ок" />
    </div>
}

@section Scripts
{
    <script src="~/Scripts/Home/restore-password.js"></script>
}



