@using OlympiadUI.Models
@model Test

<li class="d-flex bg-secondary align-items-center test">
    <i class="fa-1x ml-3 text-warning fa-circle fa d-inline-flex"></i>
    <div class="col">
        <h4>@Model.Name</h4>
        @if (Model.Description != null)
        {
            <span class="d-inline-flex align-items-center">@Model.Description</span>
        }
        <div class="d-flex subject-badges">
            @{Html.RenderAction("RenderSubjectBadges", "Subjects", new { @TestId = Model.Id });}
        </div>
    </div>
    <a href="@Url.Action("StartTest","Tests",new { @TestId = Model.Id})" class="btn btn-premier d-flex mr-5">
        <span class="d-none d-md-inline ">Пройти тест</span>
        <i class="fa fa-2x fa-play d-md-none"></i>
    </a>
</li>
